.tab {
  height: 60px;
  width: 33.3%;
  font-size: 20px;
  float: left;
}

.tabs {
  border-radius: 25px;
  margin-bottom: 50px;
}

.storename {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  height: 25%;
  border-color: grey;
  color: aliceblue;
  text-align: center;
  font-family: cursive;
}

.pageTab {
  margin-left: 200px;
}

.pageTopHeadings {
  text-align: center;
}

.clientInformationQuestion {
  text-align: center;
}

.nav {
  background-color: #696561;
  height: 60px;
  border-radius: 25px;
  border-bottom: 20px;
  padding-bottom: 20px;
}

/* position of signature from https://stackoverflow.com/a/8824859 */
.signature {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 15px;
  background-color: darkseagreen;
  font-family: "Times New Roman", Times, serif;
}

/* style information for Product page */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

.product-box {
  background-color: white;
  padding: 20px 20px 20px;
}

.addCartBtn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
}

.price {
  font-size: 20px;
  color: grey;
}

.quantity {
  font-size: 18px;
  margin: 10px 10px;
}

.container .img {
  height: 100px;
  width: 250px;
}

.container .h2 {
  font-size: 18px;
  text-align: center;
}

.addCardBtn button:hover {
  opacity: 0.7;
}

.image {
  height: 55px;
}

/* .product-box {
  margin-left: 50%;
} */

body {
  background-color: #f5f5dc;
  background-color: transparent;
}

/*adding ability to scroll from https://stackoverflow.com/a/12575301 */
html {
  overflow-y: scroll;
}

.radioTypeQuestion {
  text-align: left;
  margin-left: 45%;
}