.checked {
  color: orange;
}

#surveyForm {
  background-color: white;
  margin: 20px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

.form-check {
  text-align: left;
  margin-left: 40%;
}

.tab {
  display: none;
  text-align: center;
}

input.invalid {
  border-color: red;
}

h3,
h4 {
  text-align: center;
  padding: 10px;
  margin: 30px;
}

#prevBtn {
  background-color: #bbbbbb;
}

#nextBtn {
  background-color: #04aa6d;
  color: #ffffff;
  display: inline-block;
}

.btn:hover {
  opacity: 0.8;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

.step.finish {
  background-color: #04aa6d;
}

.signature {
  text-align: center;
}
body {
  /*Image from https://www.delicious.com.au/travel/international/gallery/50-most-beautiful-destinations-world/c5v6vkyo?page=2*/
  background: url("../images/home1.png") no-repeat center center fixed;

  background-size: cover;
}
