.tab {
  height: 60px;
  width: 33.3%;
  font-size: 20px;
  float: left;
  background-color: transparent;
}

.tabs {
  border-radius: 25px;
  background-color: #5e875e;
}

/* code inspired from https://www.w3schools.com/css/css_table.asp */
table,
th,
td {
  border: 1px solid black;
}
td {
  width: 33%;
}
.cart {
  white-space: pre-line;
  font-size: 20px;
}

.cartTotal {
  white-space: pre-line;
  font-size: 20px;
}

.storename {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  height: 25%;

  color: aliceblue;
  text-align: center;
  font-family: cursive;
}

.pageTab {
  margin-left: 200px;
}

.pageTopHeadings {
  text-align: center;
}

.clientInformationQuestion {
  text-align: center;
}

#cartTotal {
  font-weight: bold;
}

.nav {
  background-color: #696561;
  height: 60px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom: 20px;
  padding-bottom: 20px;
}

/* position of signature from https://stackoverflow.com/a/8824859 */
.signature {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 15px;
  background-color: darkseagreen;
  font-family: "Times New Roman", Times, serif;
}

/* style information for Product page */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

.product-box {
  background-color: transparent;
  padding: 20px 20px 20px;
}

.addCartBtn {
  background-color: transparent;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
}

.price {
  font-size: 20px;
  color: grey;
}

.quantity {
  font-size: 18px;
  margin: 10px 10px;
}

.container .img {
  height: 100px;
  width: 250px;
}

.container .h2 {
  font-size: 18px;
  text-align: center;
}

.addCardBtn button:hover {
  opacity: 0.7;
}

.image {
  height: 55px;
}

/* .product-box {
  margin-left: 50%;
} */

body {
  background-color: #5e875e;

  background-color: transparent;
}

/*adding ability to scroll from https://stackoverflow.com/a/12575301 */
html {
  overflow-y: scroll;
}

.radioTypeQuestion {
  text-align: left;
  margin-left: 45%;
}
.zoomButton {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 100%;
  background-color: transparent;
}

.zoom {
  font-size: 20px;
}

#Login {
  width: 100%;
  height: 190px;
  padding-top: 30px;
  background-color: rgba(175, 207, 175, 1);
}

.navtab {
  border: none;
  height: 40px;
  width: 33.1%;
  background-color: transparent;
}

.navButton {
  background-color: #4caf50;
}

.navsss {
  padding-top: 10px;
  padding-left: 25%;
  border: none;
  height: 40px;
  width: 50%;
  display: inline-block;
}

.box {
  height: 20px;
  width: 400px;
}

#seachButton {
  border: none;
  outline: none;
  background-color: transparent;
  /* putting the search button in the input field inspired from https://qr.ae/pGEBKI */
  margin-left: -31px;
}

.loginPageStyle {
}

.loginfo {
  padding-left: 40%;
  width: 50px;
}

#LoginButton {
  margin-top: 10px;
  margin-left: 40%;
}
