.Booking-b-container{
	color: white;
}

#inputProvince.form-control { 
	position: relative;
	right: -19px;
	top:  8px;
}

#inputPostalCode.form-control { 
	position: relative;
	top: 0px;
}


button.btn.btn-primary {
	color: black;
	position: relative;
	top: 10px;
}

form {
	position: relative;
	top:  10px;
}