body {
    background-color: black;

}

h1 {
    color:  white;
    font-family: 'Work Sans', sans-serif;
    font-style:  bold;
    font-size:  40px;
}

h2 {
    color:  white;
    font-family: 'Work Sans', sans-serif;
    font-style:  cursive;
    font-size:  20px;
}
/*
    image was taken from 
*/
/*background-img {
    color: white;
    background-image: url("/public/background.jpg");
    display: fit;
    justify-content:center;
    align-items: center;
    height: 130vh;
    position: absolute;
    bottom: -100;
    transform:  scale(0.5);

}*/

Button {
    font-family: 'Work Sans', sans-serif;
    font-style: bold;
    font-weight: 100px;
    border-color: #FFDA79 !important;
    background-color: #FFDA79 !important;
    position:  relative;
    color:  black;
    border-radius: 5px;
    margin: 10px 0px;
}