body {
    background-color: black;

}

h1 {
    color:  white;
    font-family: 'Work Sans', sans-serif;
    font-size:  40px;
    position: relative;
    left: 20px;
}

h2 {
    color:  white;
    font-family: 'Work Sans', sans-serif;
    font-style:  cursive;
    font-size:  20px;
    left: 20px;
    position: relative;
}
/*
    image was taken from 

*/
.backgroundImg {
    color: white;
    background-image: url("./background.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.home {
    position: relative;
    left: -2px;
}

Button {
    font-family: 'Work Sans', sans-serif;
    font-style: bold;
    font-weight: 100px;
    border-color: #FFDA79 !important;
    background-color: #FFDA79 !important;
    position:  relative;
    color:  black;
    left: 20px;
    border-radius: 5px;
    margin: 10px 0px;
}