body {
    font-family: 'Martel', serif;
    font-weight: 400;
    color: #C5D0DD;
    background-color: #2B394A;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    color: white;
    
}

.button {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 16px;
    background-color: #FDA5A4;

}

section {
    padding: 100px 50px;
}