body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #ff66c4 !important;
  background-color: #ffe6e6 !important;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #ff66c4;
}

.nav-link {
  color: black;
  font-family: "Open Sans", sans-serif;
}

.button {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  background-color: #fda5a4;
  /* style from https://stackoverflow.com/questions/2906582/how-to-create-an-html-button-that-acts-like-a-link */
  appearance: button;
  text-decoration: none;
  color: #ffe6e6;
}

section {
  padding: 100px 50px;
  font-family: "Open Sans", sans-serif;
}

.photoForServices {
  height: 150px;
  width: 150px;
}

.col-sm {
  width: 33%;
}

#dropdownMenuButtonForServices {
  background-color: white;
  color: black;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
}

.button {
  margin-top: 10px;
  color: #ffe6f4;
}

.footer {
  font-family: "Open Sans", sans-serif;
}

#hairStylePhotos {
  margin-left: 130px;
}
