.AirbnbImageGallery {
	display: block;
	text-align:center;
  height: 74%;
	width: 74%;
  margin-left: auto;
  margin-right: auto;
}

figure {
	overflow: hidden;
}

img {
	display: block;
	width: 100%;
	height: auto;
  padding-bottom: 20px;

}

figure img {
	transition: 0.25s ease-in-out;
}

figure:hover img {
  /* provides the zoom in effect upon hovering over one of the images */
	transform: scale(1.5);
}

.question {
  border-radius: 25px;
  border: 2px solid grey;
  padding-bottom: 25px;
  text-align: center;
  margin-bottom: 10px;
}

.questionWithOptions {
  border-radius: 25px;
  border: 2px solid grey;
  padding-bottom: 165px;
  text-align: center;
  margin-bottom: 10px;
}

div.question:hover {
  background-color: lightgray;
}

div.questionWithOptions:hover {
  background-color: lightgray;
}
#bg {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}
